/* Map styles start */

.main-wrapper {
    height: calc(100vh - 84px);

    background: radial-gradient(29.67% 22.18% at 62.21% 83.66%, rgba(0, 0, 0, 0.196) 0%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(0deg, rgba(77, 85, 104, 0.36), rgba(77, 85, 104, 0.36)),
        radial-gradient(32.68% 51.3% at 81.3% 73.43%, rgba(7, 69, 240, 0.35) 0%, rgba(245, 248, 255, 0) 100%),
        linear-gradient(105.71deg, rgba(5, 67, 240, 0.39) 2.44%, rgba(53, 228, 255, 0.39) 100%),
        url(../assets/images/misis-b-luvr.jpg) no-repeat;
    /* background-size: 100% auto; */

    overflow: hidden;
}

.map {
    min-width: 100vw;
    height: calc(100vh - 84px);
    margin: 0 auto;
    position: relative;

    -webkit-perspective: 3500px;
    perspective: 3500px;
    -webkit-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;

    -webkit-transition: transform 1.2s;
    -moz-transition: transform 1.2s;
    -ms-transition: transform 1.2s;
    -o-transition: transform 1.2s;
    transition: transform 1.2s;
}

/*центрирование и изометрия*/
.b-floors {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 850px;
    height: 421px;

    -webkit-transform: rotateX(70deg) rotateZ(-45deg) translateZ(-20vmin);
    transform: rotateX(70deg) rotateZ(-45deg) translateZ(-20vmin);

    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.b-floor-wrap {
    min-width: 100%;
    height: 100%;

    position: absolute;
}

.b-floor-svg {
    width: 100%;
    height: 100%;
}

/*смещение по оси Z этажей кроме нулевого*/
.b-floor-1-wrap {
    transform: translateZ(150px);
}

.b-floor-2-wrap {
    transform: translateZ(300px);
}

/*видимость дополнительных выступов у этажей относительно размера b-floors*/
/*видимость входа на 1 этаж*/
.b-floor-1-svg {
    height: 529px;
    position: absolute;
    top: 0;
    left: 0;
}

/*выбор одного этажа без проекции*/
.b-floors.floor-flatten {
    transform: rotateX(0deg) rotateZ(0deg);
    perspective: none;
}

.b-floor-wrap.floor-current {
    display: block;
    transform: translateZ(0);
}

/*Смена цвета внешней границы при наведении на этаж*/
.b-floor-wrap:hover #b-floor-0-outer-border,
.b-floor-wrap:hover #b-floor-1-outer-border,
.b-floor-wrap:hover #b-floor-2-outer-border {
    stroke: var(--white);
}

.b-floor-wrap.floor-current:hover #b-floor-0-outer-border,
.b-floor-wrap.floor-current:hover #b-floor-1-outer-border,
.b-floor-wrap.floor-current:hover #b-floor-2-outer-border {
    stroke: rgb(0, 32, 105);
}

.b-floor-wrap.floor-current #b-2-left-hall,
.b-floor-wrap.floor-current #b-2-right-hall {
    display: none;
}

#b-floor-0-outer-border,
#b-floor-1-outer-border,
#b-floor-2-outer-border {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*появление внутренних границ только при выборе(клике) на этаж */
.b-floor-wrap.floor-current #b-floor-0-border,
.b-floor-wrap.floor-current #b-floor-1-border,
.b-floor-wrap.floor-current #b-floor-2-border {
    display: block;
}

#b-floor-0-border,
#b-floor-1-border,
#b-floor-2-border {
    display: none;
}

.b-first-floor>.b-floor-1-wrap #b-floor-1-border {
    display: none;
}

.b-first-floor>.b-floor-1-2-svg #b-floor-1-2-library-border {
    display: none;
}

/*особый стиль 1 этажа с показом библиотеки*/

.b-first-floor {
    -webkit-transform: rotateX(70deg) rotateZ(-30deg) translateZ(-13vmin);
    transform: rotateX(70deg) rotateZ(-30deg) translateZ(-13vmin);
}

.b-floor-1-2-svg {
    transform: translateX(344px) translateY(307px) translateZ(273px);
    width: 216px;
    height: 532px;
}

/*плавное изменение цвета выбранных помещений по кнопке*/
path,
rect {
    -webkit-transition: fill 0.4s ease;
    -moz-transition: fill 0.4s ease;
    -ms-transition: fill 0.4s ease;
    -o-transition: fill 0.4s ease;
    transition: fill 0.4s ease;
}

.hidden {
    display: none;
}

#b-1-entrance-1 {
    display: block;
}

/* .b-floor-1-wrap {
    position: absolute;
} */

.b-floor-1-wrap::after {
    position: relative;
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    top: 535px;
    left: 506px;
    background-image: url('../assets/images/arrow.svg');
    background-size: 100px 100px;
    transform: rotateZ(90deg);

    animation-name: movement;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.b-floor-1-wrap.floor-current::after {
    display: none;
}

@keyframes movement {
    0% {
        transform: translateY(0) rotateZ(90deg);
    }

    50% {
        transform: translateY(-20px) rotateZ(90deg);
    }

    100% {
        transform: translateY(0px) rotateZ(90deg);
    }
}

.all-buildings {
    position: absolute;
    top: 20px;
    left: 120px;
    transform: scale3d(0.95, 0.95, 0.95);
    animation: showBlock 0.3s linear forwards;
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.b_group {
    position: relative;
}

.b_group::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: red;
    z-index: 900;
}

/* Map styles end */

@media screen and (max-width: 968px) {
    .map {
        transform: scale3d(0.8, 0.8, 0.8);
    }

    .all-buildings {
        left: -5px;
    }
}


@media screen and (max-width: 885px) {
    .map {
        transform: scale3d(0.7, 0.7, 0.7);
    }

    .b-first-floor {
        -webkit-transform: rotateX(70deg) rotateZ(-30deg) translateZ(-13vmin) translateX(-49px);
        transform: rotateX(70deg) rotateZ(-30deg) translateZ(-13vmin) translateX(-49px);
    }

    .all-buildings {
        left: -115px;
    }
}

@media screen and (max-width: 754px) {
    .map {
        transform: scale3d(0.6, 0.6, 0.6) translateX(-38px);
    }

    .b-first-floor {
        -webkit-transform: rotateX(70deg) rotateZ(-30deg) translateZ(-13vmin) translateX(-49px);
        transform: rotateX(70deg) rotateZ(-30deg) translateZ(-13vmin) translateX(-49px);
    }
}

@media screen and (max-width: 645px) {
    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }

    .main-wrapper {
        height: calc(100% - 49px);
    }

    .map {
        height: calc(100vh - 49px);
        min-width: 100vw;

        transform: scale3d(0.4, 0.4, 0.4) translateX(-200px);
    }
}

@media screen and (max-width: 645px) {
    .all-buildings {
        transform: scale3d(0.7, 0.7, 0.7);
    }
}