/* Buttons start */

.buttons {
    position: fixed;
    top: 38vh;
    right: 10vh;
}

.buttons-add {
    position: fixed;
    top: 70vh;
    right: 10vh;
}

.buttons-floor-wrap {
    width: 70px;
    background: linear-gradient(180deg, rgba(3, 80, 158, 0) 0%, #03509E 100%), #5AC0D7;
    border-radius: 25px;
}

.buttons-floor {
    height: 70px;
    width: inherit;

    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#buttons-floor-2 {
    border-radius: 25px 25px 0 0;
    background-image: url(../assets/images/2-number-dark.svg);
    background-size: 50%;
}

#buttons-floor-1 {
    background-image: url(../assets/images/1-number-dark.svg);
    background-size: 37%;
}

#buttons-floor-0 {
    border-radius: 0 0 25px 25px;
    background-image: url(../assets/images/0-number-dark.svg);
    background-size: 58%;
}

.buttons-floor:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn-home-wrap {
    width: 70px;
    height: 76px;
    margin-top: 40px;
    background: linear-gradient(180deg, rgba(3, 80, 158, 0) 0%, #03509E 100%), #5AC0D7;
    border-radius: 25px;
}

.btn-home:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn-home {
    height: 70px;
    width: inherit;

    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#buttons-floor-home {
    border-radius: 25px;
    background-image: url(../assets/images/btn-home.svg);
    background-size: 67%;
}

.btn-floor-back-wrap {
    margin-top: 20px;
}

#buttons-floor-back {
    border-radius: 25px;
    background-image: url(../assets/images/btn-arrow.svg);
    background-size: 67%;
}

.hidden {
    display: none;
}

/* Buttons end */

@media screen and (max-width: 1170px) {
    .buttons {
        top: auto;
        bottom: 20px;
        right: 10px;
    }

    .buttons-add {
        top: 9vh;
        right: 10px;
    }
}

@media screen and (max-width: 645px) {
    .buttons {
        width: 40px;
        bottom: 40px;
    }

    .buttons-add,
    .btn-home-wrap, 
    .btn-home {
        width: 40px;
    }

    .buttons-floor, 
    .btn-home-wrap, 
    .btn-home {
        height: 40px;
    }

    #buttons-floor-home,
    #buttons-floor-back {
        border-radius: 16px;
    }

    .btn-home-wrap {
        margin-top: 18px;
    }

}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .buttons {
        width: 40px;
        bottom: 40px;
    }

    .buttons-add,
    .btn-home-wrap, 
    .btn-home {
        width: 40px;
    }

    .buttons-floor, 
    .btn-home-wrap, 
    .btn-home {
        height: 40px;
    }

    #buttons-floor-home,
    #buttons-floor-back {
        border-radius: 16px;
    }

    .btn-home-wrap {
        margin-top: 18px;
    }
}